
* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(227, 210, 179);
}
#imgCabecalho {
    width: 100%;
    height: auto;
    background-size: 100%;
}
nav {
    background-color: purple;
    padding: 30px;
    margin: 0px;
}
nav > a {
    color: rgb(194, 113, 194);
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: purple;
}
nav > a:hover {
    background-color: rgb(62, 2, 62);
}
#sobre {
    width: 70%;
    padding-left: 15%;
}
h1, h2, p {
    padding: 0px;
    text-align: center;
    width: 70%;
    padding-left: 15%;
  }

  header {
    width: 100vh;
    height: 100vw;
}

p {
    text-align: justify;
    display: flex;
}
.imagemArte {
    width: 200px;
    padding: 5px;
    margin: auto;
    height: auto;
    transition: 0.3s ease-in-out;
}

.imagemArte:hover{
  background: rgb(0, 0, 0);
}

.descricao {
    position: relative;
    display: inline-block;
}

#descricao1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    color: blue;
}