.App {
    display: grid;
    
}
.grid-template-columns-3 {
	grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
h1, h2 {
    padding: 10px;
    text-align: center;
    grid-column: 2/3;
  }

  header {
    width: 100vh;
    height: 100vw;
    
  }
