

nav {
    background-color: purple;
    padding: 30px;
    margin: 20px;
}
nav > a {
    color: rgb(194, 113, 194);
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: rgb(62, 2, 62);
}
#sobre {
    width: 70%;
    padding-left: 15%;
}
h1, h2, p {
    padding: 0px;
    text-align: center;
    width: 70%;
    padding-left: 15%;
  }

  header {
    width: 100vh;
    height: 100vw;
}

p {
    text-align: justify;
    display: flex;
}
.icone {
  
}

.imagemArte {
    max-width: 200px;
    padding: 5px;
    margin: auto;
}

.imagemArte:hover{
  background: blue;
}